@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "function";

.first-cta{
    background-color: #e9cece;
 }
 
 .registrati{
    background-color: #ffffff
 }
 .scopriDiPiu{
    background-color: #28a745
 }
 
 
 p{color:CambiaColore(#d9c8c8)}
 